$color-primary: #221fcc;
$color-background: #ffffff;
$color-background-dark: #f4f4fb;
$color-border-light: #f5f5fa;
$color-font-secondary: #8a8aa3;
$color-font-primary: #3b3a45;
$color-warning: #ffbc00;
$color-error: #f82929;
